.aboutme {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    font-family: "Source Code Pro", monospace;
    max-width: 1200px;
    min-width: 400px;
  }

  &__title {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 5vh;
  }

  &__text {
    color: white;
    font-size: 30px;
    margin-left: 1%;
    margin-right: 11%;
  }
}
