@font-face {
    font-family: cosmic;
    src: url(cosmic.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, serif;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border: 2px solid white;
    background-color: #2F4F4F;
    z-index: 1000;
    width: 600px;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.content > h1 {
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list > p {
    font-size: 1.5rem;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, serif;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

p > a {
    text-decoration: none;
    color: white;
}

p > a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 25px yellow;
    color: white;
}

.list > p:last-child {
    font-size: 1.5rem;
    margin-right: 0;
    margin-bottom: 1.5rem;
}
.divider {
    width: 60%;
    border-bottom: 2px solid white;
    margin-bottom: 1.5rem;
}

.content > p:last-child {
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.config {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: auto;
    background-color: black;
    color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}

.config > * {
    margin: 0.2rem;
}

.colour-presets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#preset-1,
#preset-2,
#preset-3,
#preset-4,
#preset-5,
#preset-6{
    border:2px solid transparent;
}

#preset-1:hover,
#preset-2:hover,
#preset-3:hover,
#preset-4:hover,
#preset-5:hover,
#preset-6:hover {
  border:2px solid green;
}

.active {
    border:2px solid green;
}