*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border: 2px solid black;
    background-color: white;
    z-index: 1000;
    font-weight: bold;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list > p {
    margin: 2px;
}

.divider {
    width: 350px;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}